<div class="row">
    <div class="col-md-6">
        <h2>Registro de Entrada al Estacionamiento</h2>
        <form [formGroup]="formIngreso" (ngSubmit)="registraEntrada()">
            <div class="mb-3">
                <label for="txtNombres" class="form-label">Placa:</label>
                <input type="email" class="form-control" id="txtNombres" formControlName="cvePlaca" placeholder="Ingresa la placa del vehiculo">
                <div *ngIf="fe['cvePlaca'].touched && fe['cvePlaca'].invalid" class="alert-danger" style="padding: 5px;">
                    <div *ngIf="fe['cvePlaca'].errors && fe['cvePlaca'].errors['required']">Debes ingresar la placa</div>
                    <div *ngIf="fe['cvePlaca'].errors && fe['cvePlaca'].errors['minlength']">Debes ser al menos 7 caracteres</div>
                </div>
                <br>
                <button type="submit" class="btn btn-outline-success" [disabled]="formIngreso.invalid" style="width: 100%;"> Registrar</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Registro de Salida del Estacionamiento</h2>
        <form [formGroup]="formSalida" (ngSubmit)="registraSalida()">
            <div class="mb-3">
                <label for="txtNombres" class="form-label">Placa:</label>
                <input type="email" class="form-control" id="txtNombres" formControlName="cvePlaca" placeholder="Ingresa la placa del vehiculo">
                <div *ngIf="fs['cvePlaca'].touched && fs['cvePlaca'].invalid" class="alert-danger" style="padding: 5px;">
                    <div *ngIf="fs['cvePlaca'].errors && fs['cvePlaca'].errors['required']">Debes ingresar la placa</div>
                    <div *ngIf="fs['cvePlaca'].errors && fs['cvePlaca'].errors['minlength']">Debes ser al menos 7 caracteres</div>
                </div>
                <br>
                <button type="submit" class="btn btn-outline-success" [disabled]="formSalida.invalid" style="width: 100%;"> Registrar</button>
            </div>
        </form>
    </div>
</div>